/*
	Example Styling for a Pin Board Carousel
*/

@media all {

	@import "compass/css3";
	@import "compass/utilities";

	/*
		Modal Dialog
	*/
	div#modalDialog {
		height : 100%;
		left : 0px;
		position : fixed;
		_position : absolute;
		top : 0px;
		width : 100%;
		z-index : 10000;
	}

	/*
		Background
	*/
	div#modalDialog {
		div#modalDialog_background {
			@include transition-property(all);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease);
			background : #000;
			height : 100%;
			left : 0px;
			position : absolute;
			top : 0px;
			width : 100%;
			z-index : 11000;
		}
		.modalDialog_background_hidden {
			@include opacity(0);
			visibility : hidden;
		}
		.modalDialog_background_visible {
			@include opacity(0.6);
			visibility : visible;
		}
	}

	/*
		Foreground
	*/
	div#modalDialog {
		div#modalDialog_foreground {
			@include transition-property(all);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease);
			background : #e7e7e7;
			border : solid 1px #7e838c;
			border-radius : 6px 6px 0 0;
			height : 474px;
			left : 50%;
			margin : -227px 0 0 -343px;
			position : absolute;
			top : 50%;
			width : 668px;
			z-index : 12000;
		}
		.modalDialog_foreground_hidden {
			@include opacity(0);
			visibility : hidden;
		}
		.modalDialog_foreground_visible {
			@include opacity(1);
			visibility : visible;
		}
	}

	/*
		Content
	*/
	div#modalDialog {
		div#modalDialog_foreground {
			button#modalDialog_closer {
				background : Transparent none;
				border : none;
				color : #333;
				cursor : pointer;
				font-size : 18px;
				font-size : 1.5rem;
				font-weight : bold;
				height : 24px;
				padding : 0;
				overflow : hidden;
				position : absolute;
				right : 12px;
				text-shadow: #ccc 1px 1px 0;
				top : 6px;
				width : 24px;
			}
			h1#modalDialog_title {
				@include background(linear-gradient(top, #fff 0%, #fff 3%, #ccc 3%, #999 97%, #666 97%, #666 100%));
				@include border-radius(6px 6px 0 0);
				background-color : #ccc;
				color : #333;
				font-size : 15px;
				font-size :	1.25rem;
				height : 40px;
				line-height : 38px;
				margin : 0;
				padding : 0 15px 0 15px;
				text-shadow: #ccc 1px 1px 0;
			}
			iframe#modalDialog_content {
				border : none;
				height : 434px;
				width : 668px;
			}
		}
	}
	div#modalDialog.yellow {
		div#modalDialog_foreground {
			h1#modalDialog_title {
				@include background(linear-gradient(top, #ffc 0%, #ffc 3%, #cc9 3%, #996 97%, #663 97%, #663 100%));
				background-color : #cc9;
				color : #330 !important;
			}
		}
	}

}

@media (min-width: 1200px) {}

@media (min-width: 980px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 979px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

@media print {}
