@import "compass/css3";
@import "compass/utilities";
@import "mixins";
/*
	Modal Dialog
*/
div#modalDialog {
	height : 100%;
	left : 0px;
	position : fixed;
	_position : absolute;
	top : 0px;
	width : 100%;
	z-index : 10000;
	* {
		@include box-sizing(border-box);
	}
}
/*
	Background
*/
div#modalDialog {
	div#modalDialog_background {
		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease);
		background : #000;
		height : 100%;
		left : 0px;
		position : absolute;
		top : 0px;
		width : 100%;
		z-index : 11000;
	}
	.modalDialog_background_hidden {
		@include opacity(0);
		visibility : hidden;
	}
	.modalDialog_background_visible {
		@include opacity(0.6);
		visibility : visible;
	}
}
/*
	Foreground
*/
div#modalDialog {
	div#modalDialog_foreground {
		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease);
		background : #fff;
		height : 474px;
		left : 50%;
		margin : -227px 0 0 -343px;
		position : absolute;
		top : 50%;
		width : 668px;
		z-index : 12000;
	}
	.modalDialog_foreground_hidden {
		@include opacity(0);
		visibility : hidden;
	}
	.modalDialog_foreground_visible {
		@include opacity(1);
		visibility : visible;
	}
}
/*
	Content
*/
div#modalDialog {
	div#modalDialog_foreground {
		button#modalDialog_closer {
			@include rem('font-size', 1.5);
			background : Transparent none;
			border : none;
			color : #fff;
			cursor : pointer;
			font-weight : bold;
			height : 24px;
			line-height : 24px;
			padding : 0;
			overflow : hidden;
			position : absolute;
			right : 12px;
			top : 6px;
			width : 24px;
		}
		h1#modalDialog_title {
			@include rem('font-size', 1.25);
			background-color : $color-passive;
			color : #fff;
			height : 40px;
			line-height : 38px;
			margin : 0;
			padding : 0 15px 0 15px;
		}
		iframe#modalDialog_content {
			border : none;
			height : 434px;
			width : 668px;
		}
	}
}
div#modalDialog.alternate {
	div#modalDialog_foreground {
		h1#modalDialog_title {
			background-color : #6699cc;
			color : #fff !important;
		}
	}
}
